#{extends 'main.html' /}

#{set 'moreStyles'}
	#{get 'moreStyles' /}
	<!-- Datatables CSS -->
    <link rel="stylesheet" type="text/css" href="@{'/public/theme/vendor/plugins/datatables/media/css/dataTables.bootstrap.css'}">
       <!-- Admin Forms CSS -->
    <link rel="stylesheet" type="text/css" href="@{'/public/theme/assets/admin-tools/admin-forms/css/admin-forms.css'}">
#{/set}

#{set 'moreScripts'}
	
	<!-- Datatables -->
    <script type="text/javascript" src="@{'/public/theme/vendor/plugins/datatables/media/js/jquery.dataTables.js'}"></script>

    <!-- Datatables Tabletools addon -->
    <script type="text/javascript" src="@{'/public/theme/vendor/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js'}"></script>

 	<!-- Datatables Bootstrap Modifications  -->
    <script type="text/javascript" src="@{'/public/theme/vendor/plugins/datatables/media/js/dataTables.bootstrap.js'}"></script>
    
	<script type="text/javascript">
	    $(document).ready(function() {
	    	// Init tray navigation smooth scroll
	        $('.tray-nav a').smoothScroll({
	            offset: -145
	        });
	        $('#datatable1').dataTable({
            	"order": [[ 1, "desc" ]],
            	language : data_i18n,
            	responsive: true,
                "iDisplayLength": 5,
                bInfo: false,
                "pagingType": "simple_numbers",
                "aLengthMenu": [
                    [5, 10, 25, 50, -1],
                    [5, 10, 25, 50, "All"]
                ],
                "sDom": '<"dt-panelmenu clearfix"lfr>t<"dt-panelfooter clearfix"ip>',
                "oTableTools": {
                    "sSwfPath": "@{'/public/theme/vendor/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf'}"
                }
            });
	    });
	</script>
	#{get 'moreScripts' /}
#{/set}

#{include 'partials/_ubeos_js_objects.html' /}

#{set pageTitle: 'Providers' /}

	<a href="@{Consumers.index}">
		<input type="button" id="" value="Consumers" class="btn " />
	</a>

	<a href="@{Providers.index}">
		<input type="button" id="" value="Providers" class="btn " />
	</a>
	
	<a href="@{Application.stats}">
		<input type="button" id="" value="Stats" class="btn " />
	</a>



<!-- begin: .tray-center -->
<div class="tray tray-center">
	<div class="row">
			<div class="col-md-12">
           	<div class="panel panel-visible" id="spy2">
           		<div class="panel-heading">
                	<div class="panel-title ">
                   	<span class="glyphicon glyphicon-tasks"></span>Providers</div>
                </div>
				<div class="panel-body pn">
				
                   	<table class="table table-striped table-hover nowrap" id="datatable1" cellspacing="0" width="100%">
                       	<thead>
                           	<tr>
								<th><!-- actions --></th>
								<th>Company Name</th>
								<th>User</th>
								<th>Created_at</th>
								<th>Updated_at</th>
								<th>Id</th>

                            </tr>
						</thead>
                           <tbody>
                           	#{list items:providers, as:'entity'} 
                           	<tr>
<td>
					<a href="@{Providers.show(entity.company.name)}">Show</a>&nbsp;
					<a href="@{Providers.edit(entity.user.id)}">Edit</a>&nbsp;
					<a href="@{Providers.restrictions(entity.user.id)}">Restrictions</a>&nbsp;
					<a href="@{Providers.sourceRestrictions(entity.user.id)}">Sources</a>&nbsp;
				</td>
						<td>${entity.company.name}</td>
						<td>${entity.user}</td>
						<td>${entity.created_at}</td>
						<td>${entity.updated_at}</td>
						<td>${entity.id}</td>

							</tr>
						#{/list} 								
						</tbody>
                      	</table>
                  	</div>
			</div>
		</div>
	</div>
</div>
