
.ic-ub_accept:before { content: '\e800'; } /* '' */
.ic-ub_alarm:before { content: '\e801'; } /* '' */
.ic-ub_arrow-down:before { content: '\e802'; } /* '' */
.ic-ub_bell:before { content: '\e803'; } /* '' */
.ic-ub_block:before { content: '\e804'; } /* '' */
.ic-ub_board:before { content: '\e805'; } /* '' */
.ic-ub_briefcase:before { content: '\e806'; } /* '' */
.ic-ub_calendar:before { content: '\e807'; } /* '' */
.ic-ub_car:before { content: '\e808'; } /* '' */
.ic-ub_chat:before { content: '\e809'; } /* '' */
.ic-ub_euro:before { content: '\e80a'; } /* '' */
.ic-ub_euro2:before { content: '\e80b'; } /* '' */
.ic-ub_flag:before { content: '\e80c'; } /* '' */
.ic-ub_home:before { content: '\e80d'; } /* '' */
.ic-ub_inbox:before { content: '\e80e'; } /* '' */
.ic-ub_lock:before { content: '\e80f'; } /* '' */
.ic-ub_logout:before { content: '\e810'; } /* '' */
.ic-ub_message:before { content: '\e811'; } /* '' */
.ic-ub_minus:before { content: '\e812'; } /* '' */
.ic-ub_news:before { content: '\e813'; } /* '' */
.ic-ub_pin:before { content: '\e814'; } /* '' */
.ic-ub_plus:before { content: '\e815'; } /* '' */
.ic-ub_profile:before { content: '\e816'; } /* '' */
.ic-ub_search:before { content: '\e817'; } /* '' */
.ic-ub_sent:before { content: '\e818'; } /* '' */
.ic-ub_settings:before { content: '\e819'; } /* '' */
.ic-ub_star:before { content: '\e81a'; } /* '' */
.ic-ub_tasks:before { content: '\e81b'; } /* '' */
.ic-ub_team:before { content: '\e81c'; } /* '' */
.ic-ub_trash:before { content: '\e81d'; } /* '' */
.ic-ub_warning:before { content: '\e81e'; } /* '' */
.ic-ub_watch:before { content: '\e81f'; } /* '' */
.ic-ub_world:before { content: '\e820'; } /* '' */
.ic-ub_link:before { content: '\e821'; } /* '' */
.ic-ub_phone:before { content: '\e822'; } /* '' */
.ic-ub_offer:before { content: '\e823'; } /* '' */
.ic-ub_badge:before { content: '\e824'; } /* '' */