<div class="footer-custom out">
	<div class="table-row">
		<div class="">
			
			<div class="hidden-500">
				<div class="float-left">
					<a href="https://www.facebook.com/ubeos" target="_blank"><i class="fa fa-facebook-square custom-a-icon out"></i></a>
				</div>
				<div class="float-left">
					<a href="https://twitter.com/ubeosdotcom" target="_blank"><i class="fa fa-twitter custom-a-icon out"></i></a>
				</div>
				<div class="float-left">
					<a href="https://instagram.com/ubeos" target="_blank"><i class="fa fa-instagram custom-a-icon out mr0"></i></a>
				</div>
			</div>
			
			<div id="showSocial" class="footer-link out float-left visible-500 left">
				<a>
					<div class=""><i class="ic-ub ic-ub_world"></i></div>
				</a>
				<div class="footer-custom out social">
					<div class="float-left">
						<a href="https://www.facebook.com/ubeos" target="_blank"><i class="fa fa-facebook-square custom-a-icon out"></i></a>
					</div>
					<div class="float-left">
						<a href="https://twitter.com/ubeosdotcom" target="_blank"><i class="fa fa-twitter custom-a-icon out"></i></a>
					</div>
					<div class="float-left">
						<a href="https://instagram.com/ubeos" target="_blank"><i class="fa fa-instagram custom-a-icon out mr0"></i></a>
					</div>
				</div>
			</div>
			
			<div class="footer-link float-left hidden-sm hidden-xs">
				<div><span class="mr10">|</span>&{'application.copyright'}</div>
			</div>
			
			<div class="footer-link out float-right">
				<a href="@{Application.privacy}">
					<div class="visible-xs-block"><i class="ic-ub ic-ub_lock"></i></div><div class="hidden-xs">&{'application.privacy.policy'}</div>
				</a>
			</div>
			<div class="footer-link out float-right">
				<a href="@{Application.terms}">
					<div class="visible-xs-block"><i class="ic-ub ic-ub_board"></i></div><div class="hidden-xs">&{'application.terms.conditions'}</div>
				</a>
			</div>
			<div class="footer-link out float-right">
				<a href="@{Application.media}">
					<div class="visible-xs-block"><i class="ic-ub ic-ub_news"></i></div><div class="hidden-xs">&{'application.media'}</div>
				</a>
			</div>
			<div class="footer-link out float-right">
				<a href="@{Application.contactUs}">
					<div class="visible-xs-block"><i class="ic-ub ic-ub_message"></i></div><div class="hidden-xs">&{'application.contact.us'}</div>
				</a>
			</div>
			<div class="footer-link out float-right">
				<a href="@{Application.faqs}">
					<div class="visible-xs-block"><i class="ic-ub ic-ub_tasks"></i></div><div class="hidden-xs">&{'application.faqs'}</div>
				</a>
			</div>
			<div class="footer-link out float-right">
				<a href="@{Application.aboutUs}">
					<div class="visible-xs-block"><i class="ic-ub ic-ub_profile"></i></div><div class="hidden-xs">&{'application.about.us'}</div>
				</a>
			</div>
			<div class="footer-link out float-right left">
				<a href="https://www.ubeos.com/blog">
					<div class="visible-xs-block"><i class="ic-ub ic-ub_home"></i></div><div class="hidden-xs">&{'application.blog'}</div>
				</a>
			</div>
				
		</div>
	</div>
</div>

