<div class="footer-custom">
	<div class="table-row">
		<div class="table-cell">
			<div class="footer-link float-left hidden-sm hidden-xs left">
				<div>&{'application.copyright'}</div>
			</div>
			<div class="footer-link float-left hidden-xs visible-sm-block left">
				<div>&{'application.copyright.short'}</div>
			</div>
			<div>
			
				<div class="footer-link float-right">
					<a href="@{Application.privacy}">
						<div class="visible-xs-block"><i class="ic-ub ic-ub_lock"></i></div><div class="hidden-xs">&{'application.privacy.policy'}</div>
					</a>
				</div>
				<div class="footer-link float-right">
					<a href="@{Application.terms}">
						<div class="visible-xs-block"><i class="ic-ub ic-ub_board"></i></div><div class="hidden-xs">&{'application.terms.conditions'}</div>
					</a>
				</div>
				<div class="footer-link float-right">
					<a href="@{Application.media}">
						<div class="visible-xs-block"><i class="ic-ub ic-ub_news"></i></div><div class="hidden-xs">&{'application.media'}</div>
					</a>
				</div>
				<div class="footer-link float-right">
					<a href="@{Application.contactUs}">
						<div class="visible-xs-block"><i class="ic-ub ic-ub_message"></i></div><div class="hidden-xs">&{'application.contact.us'}</div>
					</a>
				</div>
				<div class="footer-link float-right">
					<a href="@{Application.faqs}">
						<div class="visible-xs-block"><i class="ic-ub ic-ub_tasks"></i></div><div class="hidden-xs">&{'application.faqs'}</div>
					</a>
				</div>
				<div class="footer-link float-right ">
					<a href="@{Application.aboutUs}">
						<div class="visible-xs-block"><i class="ic-ub ic-ub_profile"></i></div><div class="hidden-xs">&{'application.about.us'}</div>
					</a>
				</div>
				<div class="footer-link float-right left">
					<a href="https://www.ubeos.com/blog">
						<div class="visible-xs-block"><i class="ic-ub ic-ub_home"></i></div><div class="hidden-xs">&{'application.blog'}</div>
					</a>
				</div>
				
			</div>
		</div>
	</div>
</div>

