<script type="text/javascript">

var data_i18n = {
	    "emptyTable":     "&{'datatable.empty.table'}", //No data available in table
	    "info":           "&{'datatable.info'}", //Showing _START_ to _END_ of _TOTAL_ entries
	    "infoEmpty":      "&{'datatable.info.empty'}", // Showing 0 to 0 of 0 entries
	    "infoFiltered":   "&{'datatable.info.filtered'}", //(filtered from _MAX_ total entries)
	    "infoPostFix":    "",
	    "thousands":      ",",
	    "lengthMenu":     "&{'datatable.length.menu'}", //Show _MENU_ entries
	    "loadingRecords": "&{'datatable.loading.records'}", //Loading...
	    "processing":     "&{'datatable.processing'}", //Processing...
	    "search":         "&{'datatable.search'}", // Search:
	    "zeroRecords":    "&{'datatable.zero.records'}", //No matching records found 
	    "paginate": {
	        "first":      "&{'datatable.first'}", //First
	        "last":       "&{'datatable.last'}", //Last
	        "next":       "&{'datatable.next'}", //Next
	        "previous":   "&{'datatable.previous'}"  // Previous
	    },
	    "aria": {
	        "sortAscending":  "&{'datatable.sort.ascending'}", // : activate to sort column ascending
	        "sortDescending": "&{'datatable.sort.descending'}"  // : activate to sort column descending
	    }
	};

</script>