#{extends 'main_front.html' /}
	

#{set pageTitle:messages.get('views.title.forgot.password') + " | UBEOS"  /}
#{set pageDescription:messages.get('views.description.forgot.password') /}
	
	
<div class="admin-form theme-info mw500 margin-center mt60" id="login">
	
	#{if flash.success || flash.error}
		#{include 'partials/_flashNotices.html'/}
	#{/if}

	<div class="panel mt20 mb25">
		#{form action:@Users.recoverPassword(), method:'post'}
		    <div class="panel-body bg-light p25 pb15">
		
		<label class="field-label text-muted fs18 mb10">&{'application.forgotPassword'}</label><br>
		
 	              <!--Username Input -->
	              <div class="section">
	                <label for="mail" class="field-label text-muted fs18 mb10">&{'users.email'}</label>
	                <label for="mail" class="field prepend-icon ">
	                  <input type="text" name="email" value="${email}" class="gui-input " placeholder="&{'users.email'}" >
	                  <label for="mail" class="field-icon">
	                    <i class="ic-ub ic-ub_message"></i>
	                  </label>
	                </label>
	              </div>
	
           </div>
	
           <div class="panel-footer clearfix">
           	 <div class="col-md-4 col-xs-0"></div>
             <button type="submit" class="btn btn-info mr10 col-md-4 col-xs-12">&{'views.submit'}</button>
             <div class="col-md-4 col-xs-0"></div>
           </div>
		
		
		#{/form}
	</div>
	
	<div class="login-links text-center">
      <p>
        <a href="@{Security.login}" class="active" >&{'application.login'}</a>
      </p>
      <p>&{'application.new.here.text'}
	            <a href="@{Consumers.create}" title="Sign In" class="active">&{'application.new.here'}</a>
	          </p>
    </div>
	
			
</div>	
	

