#{extends 'main_front.html' /}

#{set pageTitle:messages.get('views.title.new.password') + " | UBEOS"  /}
#{set pageDescription:messages.get('views.description.new.password') /}

	
<div class="admin-form theme-info mw500 margin-center mt60" id="login">
	
	#{if flash.success || flash.error}
		#{include 'partials/_flashNotices.html'/}
	#{/if}

	<div class="panel mt20 mb25">
		
		#{form @recoverPasswordChange(token, password, passwordConfirm)}
		    <div class="panel-body bg-light p25 pb15">
		
		<label class="field-label text-muted fs18 mb10">&{'application.password.recover'}</label><br>
		
 	              <!--Username Input -->
	              <div class="section">
	                <label for="mail" class="field prepend-icon ">
	                  <input type="password" name="password" value="" class="gui-input #{ifError 'password'} error #{/ifError}" placeholder="&{'users.password'}" >
	                  <label for="mail" class="field-icon">
	                    <i class="ic-ub ic-ub_lock"></i>
	                  </label>
	                </label>
	              </div>
	              
	              <div class="section">
	                <label for="mail" class="field prepend-icon ">
	                  <input type="password" name="passwordConfirm" value="" class="gui-input #{ifError 'passwordConfirm'} error #{/ifError}" placeholder="&{'users.password.confirm'}" >
	                  <label for="mail" class="field-icon">
	                    <i class="ic-ub ic-ub_lock"></i>
	                  </label>
	                </label>
	              </div>
	
           </div>
	
           <div class="panel-footer clearfix">
           	 <div class="col-md-4 col-xs-0"></div>
             <button type="submit" class="btn btn-info mr10 col-md-4 col-xs-12">&{'views.submit'}</button>
             <div class="col-md-4 col-xs-0"></div>
           </div>
		
		
		#{/form}
	</div>
	
			
</div>	





	
