
<img 
#{if travelRequest.image == 1}
	src="@{'/public/images/index/1.jpg'}" 
#{/if}

#{if travelRequest.image == 2}
	src="@{'/public/images/index/2.jpg'}" 
#{/if}

#{if travelRequest.image == 3}
	src="@{'/public/images/index/3.jpg'}" 
#{/if}

#{if travelRequest.image == 4}
	src="@{'/public/images/index/4.jpg'}" 
#{/if}

#{if travelRequest.image == 5}
	src="@{'/public/images/index/5.jpg'}" 
#{/if}

#{if travelRequest.image == 6}
	src="@{'/public/images/index/6.jpg'}" 
#{/if}

#{if travelRequest.image == 7}
	src="@{'/public/images/index/7.jpg'}" 
#{/if}

#{if travelRequest.image == 8}
	src="@{'/public/images/index/8.jpg'}" 
#{/if}

class="img-responsive" title="Adventure">


