#{extends 'main.html' /}

#{set 'moreScripts'}
	#{get 'moreScripts' /}

#{/set}


#{set 'moreStyles'}
	#{get 'moreStyles' /}
   
#{/set}

#{set pageTitle:messages.get('views.title.reject') + " | UBEOS"  /}
#{set pageDescription:messages.get('views.description.reject') /}


<div class="row">
	<div class="col-md-12">
		<!-- Input Fields -->
            <div class="panel">
              <div class="panel-heading">
              	<span class="panel-icon">
			      <i class="ic-ub ic-ub_trash"></i>
			    </span>
		        <span class="panel-title">&{'views.reject.proposal'}</span>
              </div>
              <div class="panel-body">
                #{form @Proposals.rejectSend(proposal.id, motive_id), id:'createForm', class:'form-horizontal', method: 'post'}
                
                
                  <div class="form-group #{ifError 'motive_id'} has-error #{/ifError}">
                    <label for="inputSelect" class="col-lg-2 control-label">&{'reject.motive'} <span>*</span></label>
                    <div class="col-lg-9">
                      <div class="bs-component">
                        <select id="" name="motive_id" class="form-control ">
							<option value='' disabled selected style='display:none;'>&{'select.option'}</option>
						  	#{list items:motives, as:'motive'}
						  		#{if motive.name != 'motive.acc.other' && motive.name != 'motive.deleted' && motive.name != 'motive.expired'}
						  			<option value="${motive.id}" >&{motive.name}</option>
						  		#{/if}
						  	#{/list}
                        </select>
                      </div>
                    </div>
                  </div>
                
                
                <div class="form-group #{ifError 'message'} has-error #{/ifError} ">
					  <label class="col-lg-2 control-label" for="textArea">&{'views.message'}</label>
					  <div class="col-lg-9">
					    <div class="bs-component">
					      <textarea class="form-control" id="textArea" rows="3" name="message" placeholder="&{'views.send.message.here'}">${message}</textarea>
					    </div>
					  </div>
					</div>
            
            	</div>
              <div class="panel-footer">
              <div class="bs-component">
              	 <div class="col-lg-2 col-md-0"></div>
              	 <div class="col-lg-3 col-md-4 col-padding top">
				 	<button type="submit" class="btn btn-danger btn-block">&{'application.reject'}</button>
				 </div>
				 <div class="col-lg-3 col-md-4 col-padding">
				 	<input type="button" id="cancel" value="&{'application.cancel'}" class="btn btn-dark btn-block" onclick="location.href='@{Proposals.show(proposal.id)}'"/>
				</div>
				</div>
              #{/form}
            </div>
         </div>
    </div>
</div>


