#{extends 'main_front.html' /}

#{set pageTitle:messages.get('views.title.faqs') + " | UBEOS"   /}
#{set pageDescription:messages.get('views.description.faqs') /}

<!-- begin: .tray-center -->
<div class="tray tray-center mt60">
	<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
           	<div class="panel panel-visible" id="spy2">
           		<div class="panel-heading">
	            	<span class="panel-icon"><i class="ic-ub ic-ub_tasks"></i></span>
	                <span class="panel-title">&{'application.faqs'}</span>
                </div>
				<div class="panel-body pn">
                <div class="p25">
<!--                   <h5 class="text-muted mb20 mtn">&{'faqs.user'}</h5> -->
                  <div class="panel-group accordion accordion-lg" id="accordion1">
                    <div class="panel">
                      <div class="panel-heading">
                        <a class="accordion-toggle accordion-icon link-unstyled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accord1" aria-expanded="false">
                          &{'faqs.1.title'}
                        </a>
                      </div>
                      <div id="accord1" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                        <div class="panel-body">&{'faqs.1.text'}</div>
                      </div>
                    </div>
                    <div class="panel">
                      <div class="panel-heading">
                        <a class="accordion-toggle accordion-icon link-unstyled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accord2" aria-expanded="false">
                          &{'faqs.2.title'} </a>
                      </div>
                      <div id="accord2" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                        <div class="panel-body">&{'faqs.2.text'}</div>
                      </div>
                    </div>
                    <div class="panel">
                      <div class="panel-heading">
                        <a class="accordion-toggle accordion-icon link-unstyled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accord5" aria-expanded="false">
                          &{'faqs.5.title'}</a>
                      </div>
                      <div id="accord5" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                        <div class="panel-body">&{'faqs.5.text'}</div>
                      </div>
                    </div>
                    <div class="panel">
                      <div class="panel-heading">
                        <a class="accordion-toggle accordion-icon link-unstyled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accord6" aria-expanded="false">
                          &{'faqs.6.title'}</a>
                      </div>
                      <div id="accord6" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                        <div class="panel-body">&{'faqs.6.text'}</div>
                      </div>
                    </div>
                    <div class="panel">
                      <div class="panel-heading">
                        <a class="accordion-toggle accordion-icon link-unstyled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accord7" aria-expanded="false">
                          &{'faqs.7.title'}</a>
                      </div>
                      <div id="accord7" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                        <div class="panel-body">&{'faqs.7.text'}</div>
                      </div>
                    </div>
                                        <div class="panel">
                      <div class="panel-heading">
                        <a class="accordion-toggle accordion-icon link-unstyled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accord12" aria-expanded="false">
                          &{'faqs.12.title'}</a>
                      </div>
                      <div id="accord12" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                        <div class="panel-body">&{'faqs.12.text'}</div>
                      </div>
                    </div>
                                        <div class="panel">
                      <div class="panel-heading">
                        <a class="accordion-toggle accordion-icon link-unstyled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accord13" aria-expanded="false">
                          &{'faqs.13.title'}</a>
                      </div>
                      <div id="accord13" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                        <div class="panel-body">&{'faqs.13.text'}</div>
                      </div>
                    </div>
                    <div class="panel">
                      <div class="panel-heading">
                        <a class="accordion-toggle accordion-icon link-unstyled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accord8" aria-expanded="false">
                          &{'faqs.8.title'}</a>
                      </div>
                      <div id="accord8" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                        <div class="panel-body">&{'faqs.8.text'}</div>
                      </div>
                    </div>
                                        <div class="panel">
                      <div class="panel-heading">
                        <a class="accordion-toggle accordion-icon link-unstyled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accord14" aria-expanded="false">
                          &{'faqs.14.title'}</a>
                      </div>
                      <div id="accord14" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                        <div class="panel-body">&{'faqs.14.text'}</div>
                      </div>
                    </div>
                    
                  </div>
                </div>
                
              </div>
            </div>
            </div>
            </div>
</div>




