#{extends 'main_front.html' /}

#{set pageTitle:messages.get('views.title.last.minute.promo.info') + " | UBEOS"   /}
#{set pageDescription:messages.get('views.description.last.minute.promo.info') /}

<!-- begin: .tray-center -->
<div class="tray tray-center mt60">
	<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
           	<div class="panel panel-visible" id="spy2">
           		<div class="panel-heading">
	            	<span class="panel-icon"><i class="ic-ub ic-ub_tasks"></i></span>
	                <span class="panel-title">Monsaraz "do Natal aos Reis"</span>
                </div>
				<div class="panel-body pn">
                <div class="p25">
	
	<div>
	<b>Dia 1</b><br>
	Chegada a Monsaraz e alojamento na Casa Saramago em regime de alojamento e pequeno almoço ou similar
	<br>19h30 - Jantar no Restaurante Sem Fim, em Monsaraz com possibilidade de efetuar uma visita guiada ao Céu na Reserva Dark Sky Alqueva
	
	<br><br>

	<b>Dia 2</b><br>
	Pela manhã visita livre à vila medieval de Monsaraz e ao seu tradicional Presépio de Rua. Pelas ruas da vila medieval estão dispersas as figuras do presépio, como os Reis Magos, o pastor, os guardas do castelo, o oleiro, o almocreve, a lavadeira e a fiadeira, que se dirigem para junto da Virgem Maria, São José e o Menino Jesus, que estão colocados no Largo do Castelo.
	
	<br><br>
	
	<b>Atividades Previstas</b>

	<br><br>

	<b>Dia 19/12/2015 - 21h</b><br>
	A Igreja Matriz vai receber o tradicional Cante ao Menino, com as participações do Grupo Coral da Freguesia de Monsaraz, Grupo Coral e Etnográfico "Amigos do Alentejo" do Feijó e o poeta Manuel Sérgio, que vai estar acompanhado à viola por José Farinha. 

	<br><br>

	<b>Dia 26/12/2015 - 17h</b><br>
	Na Igreja Matriz realiza-se o Concerto de Natal com o Coro Polifónico da Sociedade Filarmónica Corvalense. 
	
	<br><br>

	<b>Dia 01/01/2016 – 17h30</b><br>
	 Na Igreja de Santiago, às 17h30, vai atuar o Quarteto Bachus, acompanhado pela soprano Ana Cerro (solista do Teatro Nacional S. Carlos) e com a participação do Grupo Coral da Freguesia de Monsaraz. Depois do concerto, pelas 19h, associações e empresas locais vão prestar um tributo à paz com o lançamento de 100 lanternas de céu, num cordão humano que vai ligar a porta da vila à porta do castelo.
	
	<br><br>

	<b>Dia 02/01/2016 – Ao longo do dia</b><br>
	 Durante o dia 2 de janeiro haverá animação de rua com grupos de música de câmara da Banda da Sociedade Filarmónica Harmonia Reguenguense. 

	<br><br>

	<b>Dia 05/01/2016 – 19h30</b><br>
	 O Cante aos Reis vai decorrer junto ao presépio no dia 5 de janeiro, às 19h30, com modas interpretadas pelo Grupo Coral da Freguesia de Monsaraz. 
	
	<br><br>

	<b>Dia 09/01/2016 – 17h00</b><br>
	 A fechar o "Monsaraz do Natal aos Reis", no dia 9 de janeiro, às 17h, na Igreja Matriz, haverá o Concerto de Reis pelo Coral de S. Domingos, dirigido pelo Maestro João Luís Nabo. 
		
	<br> 
	
	</div>
	
	<br><br>

	
	<div class="clear"></div>
	
</div>
</div>
</div>
</div>
</div>
</div>


