#{extends 'main_front.html' /}

#{set pageTitle:messages.get('views.title.media') + " | UBEOS"   /}
#{set pageDescription:messages.get('views.description.media') /}


<!-- begin: .tray-center -->
<div class="tray tray-center mt60">
	<div class="row">
	
	
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mw500">
			<div class="panel panel-visible image" id="spy1" onclick="window.open('http://sicmulher.sapo.pt/programas/faz-sentido/videos/2015-10-29-Ubeos-', '_blank')">
	            <div class="panel-heading image table-custom media">
	            	<div class="table-row">
	            		<div class="table-cell">
	            		 
	               			<div class="panel-title custom-request media">#{if play.i18n.Lang.current.get().equals("pt")}29 de Outubro, 2015 #{/if} #{else}October 29th, 2015 #{/else}</div>
	           			</div>
	       			</div>
	            </div>
				<div class="panel-body pn">
	               	<table class="table table-custom" id="datatable" cellspacing="0" width="100%">
	                   	<thead>
	                       	<tr>
	                            <th class="th-image">
	                            	<img alt="" src="@{'/public/images/media/2015_10_29.jpg'}" class="img-responsive">
	                            </th>
							</tr>
						</thead>
	                    <tbody>                          
	                    	<tr>
	                        	<td class="p20">
	                        		<div class="media-container">
	                         		<b class="fs21"><i>Entrevista de Carlos Carvalho, fundador do UBEOS, no programa Faz Sentido</i> - Sic Mulher</b><br><br>
	                         		<div>O nosso fundador Carlos Carvalho esteve à conversa com a Ana Rita Clara onde falou sobre o trajecto e o futuro do UBEOS.</div>
	                        		</div>
	                        		<div class="media-footer"><b>&{'application.full.article'} &rarr;</b></div>
	                        	</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>	
		</div>
		
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mw500">
			<div class="panel panel-visible image" id="spy1" onclick="window.open('https://youtu.be/8N0S4Hw3uM0', '_blank')">
	            <div class="panel-heading image table-custom media">
	            	<div class="table-row">
	            		<div class="table-cell">
	            		 
	               			<div class="panel-title custom-request media">#{if play.i18n.Lang.current.get().equals("pt")}12 de Outubro, 2015 #{/if} #{else}October 12th, 2015 #{/else}</div>
	           			</div>
	       			</div>
	            </div>
				<div class="panel-body pn">
	               	<table class="table table-custom" id="datatable" cellspacing="0" width="100%">
	                   	<thead>
	                       	<tr>
	                            <th class="th-image">
	                            	<img alt="" src="@{'/public/images/media/2015_10_12.jpg'}" class="img-responsive">
	                            </th>
							</tr>
						</thead>
	                    <tbody>                          
	                    	<tr>
	                        	<td class="p20">
	                        		<div class="media-container">
	                         		<b class="fs21"><i>Discoveries Investment Summit pitch</i> - Fábrica de Startups</b><br><br>
	                         		<div>As we had announced, here is our Investment Summit pitch at Discoveries2015 ‪#‎startdisc‬.</div>
	                        		</div>
	                        		<div class="media-footer"><b>&{'application.full.article'} &rarr;</b></div>
	                        	</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>	
		</div>	
	
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mw500">
			<div class="panel panel-visible image" id="spy1" onclick="window.open('http://www.entrepreneurs.pt/a-tua-viagem-de-sonho/', '_blank')">
	            <div class="panel-heading image table-custom media">
	            	<div class="table-row">
	            		<div class="table-cell">
	            		 
	               			<div class="panel-title custom-request media">#{if play.i18n.Lang.current.get().equals("pt")}13 de Abril, 2015 #{/if} #{else}April 13th, 2015 #{/else}</div>
	           			</div>
	       			</div>
	            </div>
				<div class="panel-body pn">
	               	<table class="table table-custom" id="datatable" cellspacing="0" width="100%">
	                   	<thead>
	                       	<tr>
	                            <th class="th-image">
	                            	<img alt="" src="@{'/public/images/media/news.jpg'}" class="img-responsive">
	                            </th>
							</tr>
						</thead>
	                    <tbody>                          
	                    	<tr>
	                        	<td class="p20">
	                        		<div class="media-container">
	                         		<b class="fs21"><i>Viagens à medida é com o UBEOS</i> - Portuguese Entrepreneurs</b><br><br>
	                         		<div>O mundo cada vez é mais digital. Se há uns anos atrás para o cliente, ao marcar uma viagem, o imediato seria dirigir-se a uma agência de viagens, e a partir daí chegar à melhor opção, hoje o paradigma surge de forma diferente.</div>
	                        		</div>
	                        		<div class="media-footer"><b>&{'application.full.article'} &rarr;</b></div>
	                        	</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>	
		</div>
		
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mw500">
			<div class="panel panel-visible image" id="spy1" onclick="window.open('http://www.idaevolta.net/ubeos-marcacao-de-viagens-numa-nova-plataforma/', '_blank')">
	            <div class="panel-heading image table-custom media">
	            	<div class="table-row">
	            		<div class="table-cell">
	            		 
	               			<div class="panel-title custom-request media">#{if play.i18n.Lang.current.get().equals("pt")}13 de Março, 2015 #{/if} #{else}March 13th, 2015 #{/else}</div>
	           			</div>
	       			</div>
	            </div>
				<div class="panel-body pn">
	               	<table class="table table-custom" id="datatable" cellspacing="0" width="100%">
	                   	<thead>
	                       	<tr>
	                            <th class="th-image">
	                            	<img alt="" src="@{'/public/images/media/news.jpg'}" class="img-responsive">
	                            </th>
							</tr>
						</thead>
	                    <tbody>                          
	                    	<tr>
	                        	<td class="p20">
	                        		<div class="media-container">
	                         		<b class="fs21"><i>UBEOS, marcação de viagens numa nova plataforma</i> - Ida & Volta</b><br><br>
	                         		<div>A UBEOS é uma plataforma portuguesa e quer revolucionar a marcação de viagens.<br>“O objetivo é facilitar a vida do cliente. Já era altura de ´virar o jogo´ e lançar o desafio aos operadores, que têm agora a oportunidade de mostrar as suas valências ao proporcionarem as condições que considerem mais atrativas e vantajosas para o cliente.</div>
	                        		</div>
	                        		<div class="media-footer"><b>&{'application.full.article'} &rarr;</b></div>
	                        	</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>	
		</div>
		
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mw500">
			<div class="panel panel-visible image" id="spy1" onclick="window.open('http://empresashoje.pt/informacao/ubeos-planear-uma-viagem-vai-deixar-de-ser-um-problema/', '_blank')">
	            <div class="panel-heading image table-custom media">
	            	<div class="table-row">
	            		<div class="table-cell">
	            		 
	               			<div class="panel-title custom-request media">#{if play.i18n.Lang.current.get().equals("pt")}13 de Março, 2015 #{/if} #{else}March 13th, 2015 #{/else}</div>
	           			</div>
	       			</div>
	            </div>
				<div class="panel-body pn">
	               	<table class="table table-custom" id="datatable" cellspacing="0" width="100%">
	                   	<thead>
	                       	<tr>
	                            <th class="th-image">
	                            	<img alt="" src="@{'/public/images/media/news.jpg'}" class="img-responsive">
	                            </th>
							</tr>
						</thead>
	                    <tbody>                          
	                    	<tr>
	                        	<td class="p20">
	                        		<div class="media-container">
	                         		<b class="fs21"><i>Planear uma viagem vai deixar de ser um problema</i> - Empresas Hoje</b><br><br>
	                         		<div>A UBEOS  – de origem 100% portuguesa – chegou recentemente ao mercado turístico para proporcionar maior comodidade ao cliente, na hora de planear uma viagem.</div>
	                        		</div>
	                        		<div class="media-footer"><b>&{'application.full.article'} &rarr;</b></div>
	                        	</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>	
		</div>
		
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mw500">
			<div class="panel panel-visible image" id="spy1" onclick="window.open('http://portugalstartups.com/2015/03/what-if-tourism-agents-could-fight-to-provide-a-better-offer-to-the-travelers/', '_blank')">
	            <div class="panel-heading image table-custom media">
	            	<div class="table-row">
	            		<div class="table-cell">
	            		 
	               			<div class="panel-title custom-request media">#{if play.i18n.Lang.current.get().equals("pt")}9 de Março, 2015 #{/if} #{else}March 9th, 2015 #{/else}</div>
	           			</div>
	       			</div>
	            </div>
				<div class="panel-body pn">
	               	<table class="table table-custom" id="datatable" cellspacing="0" width="100%">
	                   	<thead>
	                       	<tr>
	                            <th class="th-image">
	                            	<img alt="" src="@{'/public/images/media/news.jpg'}" class="img-responsive">
	                            </th>
							</tr>
						</thead>
	                    <tbody>                          
	                    	<tr>
	                        	<td class="p20">
	                        		<div class="media-container">
	                         		<b class="fs21"><i>What if tourism agents could “fight” for travelers?</i> - Portugal Startups</b><br><br>
	                         		<div>Let me introduce you to UBEOS, a 100% Portuguese startup project aiming to provide a greater convenience to the customer when it comes to planning a trip.</div>
	                        		</div>
	                        		<div class="media-footer"><b>&{'application.full.article'} &rarr;</b></div>
	                        	</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>	
		</div>
		
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mw500">
			<div class="panel panel-visible image" id="spy1" onclick="window.open('http://wintech.pt/lifestyle/18575-plataforma-online-de-viagens-de-origem-portuguesa-chega-ao-mercado', '_blank')">
	            <div class="panel-heading image table-custom media">
	            	<div class="table-row">
	            		<div class="table-cell">
	            		 
	               			<div class="panel-title custom-request media">#{if play.i18n.Lang.current.get().equals("pt")}26 de Fevereiro, 2015 #{/if} #{else}February 26th, 2015 #{/else}</div>
	           			</div>
	       			</div>
	            </div>
				<div class="panel-body pn">
	               	<table class="table table-custom" id="datatable" cellspacing="0" width="100%">
	                   	<thead>
	                       	<tr>
	                            <th class="th-image">
	                            	<img alt="" src="@{'/public/images/media/news.jpg'}" class="img-responsive">
	                            </th>
							</tr>
						</thead>
	                    <tbody>                          
	                    	<tr>
	                        	<td class="p20">
	                        		<div class="media-container">
	                         		<b class="fs21"><i>Plataforma online de viagens de origem portuguesa chega ao mercado</i> - Wintech</b><br><br>
	                         		<div>A UBEOS - de origem 100% portuguesa – chegou ao mercado turístico para proporcionar maior comodidade ao cliente, na hora de planear uma viagem.</div>
	                        		</div>
	                        		<div class="media-footer"><b>&{'application.full.article'} &rarr;</b></div>
	                        	</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>	
		</div>
		
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mw500">
			<div class="panel panel-visible image" id="spy1" onclick="window.open('http://www.smart-cities.pt/pt/noticia/turismo-juntar-a-agencia-ao-on-line-2602', '_blank')">
	            <div class="panel-heading image table-custom media">
	            	<div class="table-row">
	            		<div class="table-cell">
	            		 
	               			<div class="panel-title custom-request media">#{if play.i18n.Lang.current.get().equals("pt")}26 de Fevereiro, 2015 #{/if} #{else}February 26th, 2015 #{/else}</div>
	           			</div>
	       			</div>
	            </div>
				<div class="panel-body pn">
	               	<table class="table table-custom" id="datatable" cellspacing="0" width="100%">
	                   	<thead>
	                       	<tr>
	                            <th class="th-image">
	                            	<img alt="" src="@{'/public/images/media/news.jpg'}" class="img-responsive">
	                            </th>
							</tr>
						</thead>
	                    <tbody>                          
	                    	<tr>
	                        	<td class="p20">
	                        		<div class="media-container">
	                         		<b class="fs21"><i>Turismo: Juntar a agência ao on-line</i> - Smart Cities</b><br><br>
	                         		<div>Juntar o melhor da agência de turismo com a flexibilidade da preparação de viagens on-line, pelo próprio turista. Esta é a proposta da UBEOS, uma plataforma de turismo on-line, apresentada quarta-feira na BTL – Bolsa de Turismo de Lisboa.</div>
	                        		</div>
	                        		<div class="media-footer"><b>&{'application.full.article'} &rarr;</b></div>
	                        	</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>	
		</div>
		
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mw500">
			<div class="panel panel-visible image" id="spy1" onclick="window.open('http://www.computerworld.com.pt/2015/02/26/plataforma-online-de-viagens-beneficia-clientes/', '_blank')">
	            <div class="panel-heading image table-custom media">
	            	<div class="table-row">
	            		<div class="table-cell">
	            		 
	               			<div class="panel-title custom-request media">#{if play.i18n.Lang.current.get().equals("pt")}26 de Fevereiro, 2015 #{/if} #{else}February 26th, 2015 #{/else}</div>
	           			</div>
	       			</div>
	            </div>
				<div class="panel-body pn">
	               	<table class="table table-custom" id="datatable" cellspacing="0" width="100%">
	                   	<thead>
	                       	<tr>
	                            <th class="th-image">
	                            	<img alt="" src="@{'/public/images/media/news.jpg'}" class="img-responsive">
	                            </th>
							</tr>
						</thead>
	                    <tbody>                          
	                    	<tr>
	                        	<td class="p20">
	                        		<div class="media-container">
	                         		<b class="fs21"><i>Plataforma online de viagens desafia operadores</i> - Computer World</b><br><br>
	                         		<div>Ubeos quer agentes turísticos a “lutar” entre si para proporcionarem a melhor oferta ao cliente.</div>
	                        		</div>
	                        		<div class="media-footer"><b>&{'application.full.article'} &rarr;</b></div>
	                        	</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>	
		</div>
		
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mw500">
			<div class="panel panel-visible image" id="spy1" onclick="window.open('http://trendy.pt/2015/02/26/ubeos-leiloes-invertidos-chegam-as-agencias-de-viagens/', '_blank')">
	            <div class="panel-heading image table-custom media">
	            	<div class="table-row">
	            		<div class="table-cell">
	            		 
	               			<div class="panel-title custom-request media">#{if play.i18n.Lang.current.get().equals("pt")}26 de Fevereiro, 2015 #{/if} #{else}February 26th, 2015 #{/else}</div>
	           			</div>
	       			</div>
	            </div>
				<div class="panel-body pn">
	               	<table class="table table-custom" id="datatable" cellspacing="0" width="100%">
	                   	<thead>
	                       	<tr>
	                            <th class="th-image">
	                            	<img alt="" src="@{'/public/images/media/news.jpg'}" class="img-responsive">
	                            </th>
							</tr>
						</thead>
	                    <tbody>                          
	                    	<tr>
	                        	<td class="p20">
	                        		<div class="media-container">
	                         		<b class="fs21"><i>UBEOS: Leilões invertidos chegam às agências de viagens</i> - Trendy</b><br><br>
	                         		<div>A UBEOS, apresentada na BTL 2015, é uma plataforma online de viagens que permite que sejam os agentes turísticos a “lutar” entre si para proporcionar a melhor oferta aos clientes.</div>
	                        		</div>
	                        		<div class="media-footer"><b>&{'application.full.article'} &rarr;</b></div>
	                        	</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>	
		</div>
		
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mw500">
			<div class="panel panel-visible image" id="spy1" onclick="window.open('http://www.welcome.com.pt/btl-feira-internacional-de-turismo/4161-e-portuguesa-e-quer-revolucionar-a-marcacao-de-viagens.html', '_blank')">
	            <div class="panel-heading image table-custom media">
	            	<div class="table-row">
	            		<div class="table-cell">
	            		 
	               			<div class="panel-title custom-request media">#{if play.i18n.Lang.current.get().equals("pt")}26 de Fevereiro, 2015 #{/if} #{else}February 26th, 2015 #{/else}</div>
	           			</div>
	       			</div>
	            </div>
				<div class="panel-body pn">
	               	<table class="table table-custom" id="datatable" cellspacing="0" width="100%">
	                   	<thead>
	                       	<tr>
	                            <th class="th-image">
	                            	<img alt="" src="@{'/public/images/media/news.jpg'}" class="img-responsive">
	                            </th>
							</tr>
						</thead>
	                    <tbody>                          
	                    	<tr>
	                        	<td class="p20">
	                        		<div class="media-container">
	                         		<b class="fs21"><i>É portuguesa e quer revolucionar a marcação de viagens (com vídeo)</i> - Welcome Media</b><br><br>
	                         		<div>A plataforma UBEOS, de origem portuguesa, promete revolucionar o processo de marcação de viagens ao lançar um desafio aos operadores turísticos no sentido de "lutarem" entre si para proporcionarem a oferta mais vantajosa aos clientes.</div>
	                        		</div>
	                        		<div class="media-footer"><b>&{'application.full.article'} &rarr;</b></div>
	                        	</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>	
		</div>
		
