#{extends 'main_front.html' /}

#{set pageTitle:'política de privacidade | UBEOS' /}
#{set pageDescription:'A nossa política de privacidade e como gerimos os cookies do site' /}

<!-- begin: .tray-center -->
<div class="tray tray-center mt60">
	<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
           	<div class="panel panel-visible" id="spy2">
           		<div class="panel-heading">
	            	<span class="panel-icon"><i class="ic-ub ic-ub_tasks"></i></span>
	                <span class="panel-title">Política de privacidade e Cookies</span>
                </div>
				<div class="panel-body pn">
                <div class="p25">
	
	<div>
	Este website (o “site” ou “nós”) é operado pela UBEOS, de Rua Eng. Carlos Bóia, nº 29, 3810-702 Aveiro, Portugal.
	<br>
	A UBEOS reconhece e valoriza o seu direito à privacidade, e por isso criou esta política, que regula a recolha e utilização de informações pessoais através do site.
	<br>
	Esta política descreve o tipo de informação que o site recolhe e a sua utilização. Pedimos que leia este documento com atenção antes de fornecer qualquer informação pessoal. 
	Ao utilizar o site está a concordar com a utilização da sua informação pela UBEOS de acordo com esta política. Caso não concorde com a mesma, pedimos para não utilizar o site. 
	Se tiver dúvidas em relação à nossa política de privacidade, por favor entre em contacto connosco através do endereço: <a href="mailto:ubeos@ubeos.com">ubeos@ubeos.com</a>.

	
	<br><br>
	<b>1. Informações recolhidas</b><br>
	
	<b>1.1. Utilizadores sem registo</b><br>
	Aos utilizadores não registados que acedem ao nosso site, iremos obter o seu endereço de IP, 
	sistema operativo e que navegador utiliza, para ajudar a diagnosticar problemas com o nosso servidor, 
	administrar o site e/ou para estatísticas de utilização. O seu endereço de IP pode variar a cada acesso, 
	ou ser sempre o mesmo, depende do seu prestador de internet. Em qualquer dos casos será sempre extremamente 
	difícil identificá-lo através do seu endereço IP, nem sequer o pretendemos fazer.
	Se chegar ao nosso site através de um algum link noutro site, também iremos recolher essa informação, 
	pois vai permitir-nos maximizar a nossa exposição na internet. Estas informações são armazenadas de forma geral, 
	isto é, serão utilizadas para gerar relatórios gerais sobre os nossos visitantes e não sobre visitantes individuais.
	
	<br><br>
	
	<b>1.2. Utilizadores Registados</b><br>
	Ao efectuar o seu registo, além das informações referidas acima, iremos recolher informações pessoais, 
	digitalmente inseridas por si nos nossos formulários tais como o seu nome, endereço de email, data de nascimento, 
	palavra chave, morada, número de telefone, preferências de viagem e outros dados necessários para se efectuar a reserva da viagem.
	No caso de aceitar pedidos de orçamentos dos nossos parceiros, os seus dados poderão ser facultados aos mesmos para estes poderem processar as reservas.

	<br><br>

	<b>2. Cookies</b><br>
	<b>2.1. O que é um cookie?</b><br>
	Um cookie é um ficheiro, com uma pequena quantidade de dados que o site grava no seu computador (ou no seu dispositivo móvel). 
	Estas condições de privacidade e cookies aplicam-se aos cookies e tecnologias semelhantes (“cookies”).

	<br><br>

	<b>2.2. Para que utilizamos os cookies?</b><br>
	As páginas web não têm memória, como tal estando a navegar dentro do nosso site, pelas várias páginas do mesmo, 
	não será reconhecido como sendo a mesma pessoa. Os cookies permitem que seja reconhecido como o mesmo utilizador 
	ao longo da sua utilização da UBEOS. Permitem também que algumas escolhas, como o idioma ou critérios de pesquisa, 
	sejam guardados.

	<br><br>

	<b>2.3. Qual a durabilidade dos cookies da UBEOS</b><br>
	Os cookies da UBEOS têm a duração de 1h após a inactividade de utilização do site, por motivos de segurança. 
	Poderá apagar a qualquer momento os cookies do seu navegador, indo às definições do seu navegador procurando pela opção “eliminar cookies”.

	<br><br>

	<b>2.4. Posso não utilizar cookies?</b><br>
	Se optar por não utilizar cookies, a sua experiência de utilização será afectada, sendo-lhe por exemplo, 
	solicitadas as credenciais de acesso sempre que muda de página, entre outras funcionalidades que poderão não ter o comportamento desejado.

	<br><br>

	<b>3. Utilização da sua informação por terceiros</b><br>
	Em alguns casos podemos permitir o acesso, pelos motivos descritos em baixo, à sua informação a outras entidades, 
	dependendo da natureza do nosso relacionamento com as mesmas. Exigindo sempre que essas entidades mantenham confidenciais 
	os dados dos nossos utilizadores.

	<br><br>

	<b>3.1. Parceiros prestadores de serviços</b><br>
	Aos nossos parceiros (prestadores de serviços) será facultada toda a informação necessária para se procederem às reservas das viagens.

	<br><br>

	<b>3.2. Publicidade</b><br>
	Caso a UBEOS venha a exibir publicidade no site, poderemos permitir que os publicitários possam recolher informação sobre 
	o seu dispositivo (incluindo o identificador de dispositivo móvel), ações efetuadas e localização geográfica permitindo que 
	os anúncios se enquadrem consigo.

	<br><br>

	<b>3.3. Análise de dados</b><br>
	Permitimos o acesso a tecnologias de rastreamento para recolher informação sobre os dispositivos dos nossos utilizadores e 
	das suas ações no site. Da análise da informação gerada por essas tecnologias é-nos permitido perceber e melhorar a experiência de utilização do site.

	<br><br>

	<b>3.4. O que não partilhamos</b><br>
	Não permitimos o acesso a terceiros (excepto nos casos acima referidos para processamento das reservas de viagem) de nenhuma 
	informação pessoal dos nossos utilizadores, tais como nome, email, morada e número de telefone.

	<br><br>

	<b>3.5. Informação agregada</b><br>
	Poderemos divulgar informações agregadas dos nossos utilizadores, tais como número de utilizadores, demografia dos mesmos e métricas gerais de utilização.

	<br><br>

	<b>3.6. Questões legais</b><br>
	Poderemos disponibilizar qualquer informação dos nossos utilizadores por questões legais, tais como ordens judiciais, 
	solicitação para investigação policial ou para nossa defenda legal.
	A informação poderá ser transferida para outra empresa no caso de reestruturação da UBEOS, tal como venda ou fusão, 
	sendo comunicado aos utilizadores caso tal aconteça.

	<br><br>

	<b>4. Privacidade de Crianças</b><br>
	Este site é de utilização geral e não recolhemos intencionalmente informações sobre crianças e/ou adolescentes. 
	Se uma criança e/ou adolescente que saibamos ter menos de 18 anos nos envie informações pessoais, as mesmas serão utilizadas 
	para lhe responder directamente e informar que precisamos do consentimento dos seus pais para receber tais informações.

	<br><br>

	<b>5. Alterações a esta política de privacidade</b><br>
	Reservamo-nos ao direito de alterar esta política, se assim julgarmos recomendável. 
	Se forem efectuadas alterações essenciais que afetem as informações pessoais dos nossos utilizadores, 
	os mesmos serão notificados para que estes as possam alterar ou cancelar o seu registo.
	
	<br> 
	
	</div>
	
	<br><br>
	
	<div class="col-lg-3 col-md-3 col-padding">
		<input type="button" id="cancel" value="&{'application.privacy.en'}" class="btn btn-info btn-block" onclick="location.href='@{Application.privacyEN()}'"/>
	</div>
	
	<div class="clear"></div>
	
</div>
</div>
</div>
</div>
</div>
</div>

