#{extends 'main_front.html' /}

#{set pageTitle:'Privacy Policy and cookies | UBEOS' /}
#{set pageDescription:'UBEOS privacy policy and cookies' /}


<!-- begin: .tray-center -->
<div class="tray tray-center mt60">
	<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
           	<div class="panel panel-visible" id="spy2">
           		<div class="panel-heading">
	            	<span class="panel-icon"><i class="ic-ub ic-ub_tasks"></i></span>
	                <span class="panel-title">Privacy Policy and Cookies</span>
                </div>
				<div class="panel-body pn">
                <div class="p25">
	
	<div>
	This website is managed by Ubeos at Rua Eng. Carlos Bóia, nº 29, 3810-702 Aveiro, Portugal.
	<br>
	UBEOS recognizes and values the right for privacy and that’s why we have created this policy that regulates the collection and use of personal data through the website.
	<br>
This Privacy Policy describes how and when Ubeos collects, uses and shares your information when you use our services. We ask you to read carefully this document before providing any personal information. 
By using this website you agree that you understand, accept and agree to these privacy policy. If you do not agree with this policy, please do not use the website. Should you have any doubts related to our Privacy Policy please feel free to contact us at <a href="mailto:ubeos@ubeos.com">ubeos@ubeos.com</a>.

	
	<br><br>
	<b>1. Collected Information</b><br>
	
	<b>1.1. Non-registered users</b><br>
	To the non-registered users that visit our website, we will obtain your IP address, operating system and the navigator that you use. This will help us diagnose any existing problems with our server, managing the website and also generating usage statistics. Your IP address may differ or stay the same each time you connect depending on your Internet Provider, but it will always be extremely difficult to identify you through your IP address and that’s also not our intention. 
If you get to our website through a link available on another website, we will also collect this information as it will allow us to maximize our exposure on the Internet. This information is stored in general, meaning that it will be used to produce general reports on our visitors and not on individuals.
	
	<br><br>
	
	<b>1.2. Registered users</b><br>
	Besides the information provided above, by completing your registration we will collect personal data digitally provided by you on our forms, such as your name, e-mail address, birth date, password, address, phone number, travel preferences and other data required to book the trip.
	In case you accept quotations from our partners, your data may be provided to them so they can schedule your trip.

	<br><br>

	<b>2. Cookies</b><br>
	<b>2.1. What is a cookie?</b><br>
	 A cookie is a file with a small amount of data that the website saves on your computer or on your mobile device. These policy terms apply to similar cookies and technologies ("cookies"). 
	<br><br>

	<b>2.2. Why do we use cookies?</b><br>
	Web pages do not have memory, therefore when you are navigating throughout the several pages of our website you will not be recognized as being the same person. Cookies enable you to be recognized as the same user and also some choices such as language or search criteria are saved.

	<br><br>

	<b>2.3. What is the durability of the UBEOS' cookies?</b><br>
	UBEOS’ cookies last one hour after inactivity for safety reasons. You will be able to delete the cookies from your navigator at any moment by going to the definitions and selecting “delete cookies”.

	<br><br>

	<b>2.4. Can I not use cookies?</b><br>
	If you choose not to use cookies, your experience will be affected. For example, you will always be requested for credentials each time you change pages among other functionalities that may not have the desired behavior.

	<br><br>

	<b>3. Use of your information by third parties</b><br>
	In some cases we can allow other entities to access your information, depending on the nature of our relationship. We will always require that these entities maintain your data confidential. Please read bellow the scenarios in which we can provide such information.

	<br><br>

	<b>3.1. Service Providing partners</b><br>
	All the information necessary to book the trip will be provided to our partners (service providers).

	<br><br>

	<b>3.2. Publicity</b><br>
	In case UBEOS starts using the website to publish advertisements, we may consent advertisers to collect information about your device (including the mobile identifier), actions and geographic location, allowing the ads to fit your needs.

	<br><br>

	<b>3.3. Data analysis</b><br>
	We allow the access to tracking technologies in order to collect data about our users’ technologies and their actions on the website. From the analysis of the information generated by them, we can understand and improve the website user experience.

	<br><br>

	<b>3.4. What we do not share</b><br>
	We do not allow access to third parties (except in the cases mentioned above concerning the bookings) of any personal information of our users, such as name, e-mail, address and phone number.

	<br><br>

	<b>3.5. Aggregated information</b><br>
	We may reveal aggregated information of our users, such as number of users, their demographics and general usage metrics.

	<br><br>

	<b>3.6. Legal issues</b><br>
	We can provide users’ information for legal reasons, such as court orders, police investigations and to our legal defense.
The information can be transferred to another company if UBEOS is going through a restructuring process, including its sale or merger. If this happens we will communicate it to our users.

	<br><br>

	<b>4. Children's Privacy</b><br>
	This website can be used by everyone and we do not intentionally collect information about children or teenagers. If a child or a teenager who we know to be under 18 sends us their personal data, it will be used to respond to them directly and inform that we need the consent of their parents to receive such information.

	<br><br>

	<b>5. Changes to this privacy policy</b><br>
	We reserve the right to change this policy at any time should we find it convenient. If any changes that affect our users’ personal information are made, they will be informed so that they can adjust or cancel their registration.
	
	<br>  
	
	</div>
	
	<br><br>
	
	<div class="col-lg-3 col-md-3 col-padding">
		<input type="button" id="cancel" value="&{'application.privacy.pt'}" class="btn btn-info btn-block" onclick="location.href='@{Application.privacyPT()}'"/>
	</div>
	
	
	
	<div class="clear"></div>
	
</div>
</div>
</div>
</div>
</div>
</div>
