#{extends 'main_front.html' /}

#{set pageTitle:messages.get('views.title.provider.alert') + " | UBEOS" /}
#{set pageDescription:messages.get('views.description.provider.alert') /}


<!-- begin: .tray-center -->
<div class="tray tray-center">
	<div class="row">
	
		<div class="col-md-12" style="margin-top: 8%;">
			<img src="@{'/public/images/img_empty_case.png'}" class="img-responsive w300 margin-center mb20" title="Adventure">
			<div class="text-center"><b>&{'warning.provider.access.denied'}</b><br>
			<br>&{'warning.provider.access.denied.text'}</div>
		</div>
	
	</div>
</div>