#{extends 'main_front.html' /}

#{set pageTitle:'Termos e Condições | UBEOS' /}
#{set pageDescription:'Termos e condições de utilização da plataforma UBEOS' /}


<!-- begin: .tray-center -->
<div class="tray tray-center mt60">
	<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
           	<div class="panel panel-visible" id="spy2">
           		<div class="panel-heading">
	            	<span class="panel-icon"><i class="ic-ub ic-ub_tasks"></i></span>
	                <span class="panel-title">Termos e Condições</span>
                </div>
				<div class="panel-body pn">
                <div class="p25">
	
	<div>
	Estes termos e condições, que poderão ser alterados periodicamente, são aplicáveis a todos os nossos serviços.
	Ao utilizar este site (online, email ou através de qualquer dispositivo móvel) reconhece que leu, compreendeu
	 e concordou com os termos e condições abaixo citados bem como a política de privacidade.
	
	<br><br>

	<b>1. Propriedade e direitos de autor (Copyright)</b><br>
	Exceto quando indicado o contrário estas páginas, o seu conteúdo, imagens, textos, logotipos, 
	infraestrutura e respetivo serviço são propriedade de, operados e disponibilizados pela UBEOS 
	(“ubeos”, “nós” ou “nosso/a”). Nenhum dos nossos conteúdos deve ser utilizado sem a devida e prévia permissão 
	por escrito da UBEOS.
	
	<br><br>
	
	<b>2. Ambito do nosso serviço</b><br>
	Através deste website nós fornecemos uma plataforma que permite submeter o seu pedido de viagem, 
	o qual reencaminharemos para os nossos parceiros, que irão apresentar propostas de orçamento da sua responsabilidade, 
	o nosso sistema interage no processo como um mediador entre o pedido do utilizador e a sua apresentação e negociação 
	com os nossos parceiros.

	<br><br>

	<b>3. Envio de pedidos, propostas e mensagens trocadas entre utilizadores</b><br>
	Quer no processo de submissão de um novo pedido, quer no processo de submissão de uma proposta, quer nos vários mecanismos 
	disponíveis para enviar mensagem para outro utilizador, a UBEOS não faz verificação do seu conteúdo, não sendo responsável 
	pelas mesmas, no entanto a UBEOS reserva-se ao direito de remover a seu exclusivo critério por qualquer razão e sem aviso 
	prévio quaisquer mensagens de utilizadores e/ou conteúdos do site.<br>
	Segue uma lista não completa de tipos de mensagens proibidas ou ilegais no site. A UBEOS reserva-se ao direito de alterar 
	esta lista a qualquer momento e a investigar e tomar medidas legais apropriadas, a seu exclusivo critério contra qualquer 
	pessoa que infrinja este dispositivo, podendo remover a comunicação ofensiva do serviço e remover o direito de aceder ao 
	site ao utilizador infractor.

	<br><br>

	- Envio de contatos pessoais nos pedidos;<br>
	- Envio de contatos pessoais nas propostas;<br>
	- Envio de contatos pessoais na mensagem para os utilizadores;<br>
	- Envio de contatos pessoais na mensagem para os parceiros;<br>
	- Injuriar e/ou ofender outro utilizador ou parceiro através de qualquer mecanismo de comunicação do site;

	<br><br>
	
	<b>4. Política de denúncia para conteúdo ilegal</b><br>
	A UBEOS opera com base no conceito de “notificação e retirada”. 
	Se tiver qualquer reclamação a fazer ou objecção ao material ou conteúdo, 
	incluindo mensagens de utilizadores enviadas pelo site, se acreditar que o conteúdo postado no site infringe 
	direitos de  autor detidos por si, pedimos para nos contactar imediatamente, utilizando o nosso email 
	<a href="mailto:ubeos@ubeos.com">ubeos@ubeos.com</a>. 
	Após o aviso, faremos todos os esforços possíveis para remover o conteúdo ilegal dentro de um período de tempo aceitável.

	<br><br>

	<b>5. Privacidade</b><br>
	Qualquer informação pessoal submetida no site por si, será utilizada por nós de acordo com a 
	nossa <a href="@{Application.privacyPT()}" >política de privacidade.</a>
	
	<br><br>

	<b>6. Cancelamento</b><br>
	Ao aceitar um orçamento de um parceiro, as políticas de cancelamento em vigor serão as do parceiro em causa aquando 
	da aceitação do mesmo orçamento.
	
	<br><br>

	<b>7. Modificações</b><br>
	A UBEOS pode adicionar, remover ou alterar estes Termos e Condições, ou qualquer porção dos mesmos a qualquer momento 
	a seu exclusivo critério, quando considerar necessário ou por motivos legais, regulatórios, técnicos ou por alteração 
	dos serviços prestados ou natureza de layout do site. A UBEOS enviará, dentro do razoável, avisos sobre as alterações 
	aos seus utilizadores. Tendo recebido o aviso, você concorda em se reger pelos mesmos na utilização do site. 
	A continuidade do uso do site após o aviso por parte da UBEOS, indicará a sua aceitação das alterações.

	<br><br>

	<b>8. Disposições Gerais</b> <br>
	Nos limites permitidos por lei, estes termos e condições e a realização dos nossos serviços devem ser regidos e 
	construídos de acordo com a lei Portuguesa.
	A versão original, em português, destes termos e condições, poderá ter sido traduzida para outras línguas. 
	A versão traduzida é uma cortesia e apenas uma tradução de escritório, da qual não poderá tirar quaisquer direitos. 
	Na eventualidade de uma disputa sobre o conteúdo ou interpretação destes termos e condições, inconsistência ou 
	discrepância entre a versão em português e qualquer outra versão noutra língua destes termos e condições, 
	a versão em português prevalecerá e será conclusiva nos limites permitidos por lei. 
	A versão em português está disponível no nosso website (ao seleccionar a língua portuguesa) ou ser-lhe-á enviada, 
	caso solicite, por escrito ou via email.
	
	<br> 
	
	</div>
	
	<br><br>
	
	<div class="col-lg-3 col-md-3 col-padding">
		<input type="button" id="cancel" value="&{'application.terms.en'}" class="btn btn-info btn-block" onclick="location.href='@{Application.termsEN()}'"/>
	</div>
	
	<div class="clear"></div>
	
</div>
</div>
</div>
</div>
</div>
</div>


