#{extends 'main_front.html' /}

#{set pageTitle:'Terms and Conditions | UBEOS' /}
#{set pageDescription:'Terms and conditions of use of UBEOS plarform' /}


<!-- begin: .tray-center -->
<div class="tray tray-center mt60">
	<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
           	<div class="panel panel-visible" id="spy2">
           		<div class="panel-heading">
	            	<span class="panel-icon"><i class="ic-ub ic-ub_tasks"></i></span>
	                <span class="panel-title">Terms and Conditions</span>
                </div>
				<div class="panel-body pn">
                <div class="p25">
	
	<div>
	These terms and conditions, which can be changed periodically, are applied to all our services. By using our website (online, by e-mail or using any other mobile device) you acknowledge that you have read, understood and agreed to the terms and conditions mentioned below as well as the <a href=@{Application.privacyEN()}>privacy policy</a>.
	
	<br><br>

	<b>1. Copyright</b><br>
	Except when mentioned otherwise, these pages, its content, images, texts, logo, infrastructure and service are property of, managed and available by UBEOS (“ubeos”, “our” or “ours”).
	None of these contents should be used without our previous written permission.
	
	<br><br>
	
	<b>2. Our goal</b><br>
	Through this website we offer a platform that allows you to submit travel requests which we will send to our partners. They will come up with their own quotations for which they are responsible. Our system will be part of the process by acting as a mediator between the user’s request, its presentation and negotiation with our partners.

	<br><br>

	<b>3. Send of requests, proposals and messages exchanged between users</b><br>
	Whether it is in the process of submitting a new request or proposal, or in the process of the several mechanisms available to send a message to other user, UBEOS does not check its content. This means we are not held responsible for the messages. However, UBEOS has the right, in its sole discretion, to remove by any reason or without previous notice the users’ messages and/or the website contents.
Please find bellow an incomplete list of the forbidden or illegal messages on the website. UBEOS reserves the right to change this list at any time and to investigate and take legal action, in its sole discretion, against any person who violates this device. This will enable us to remove the service’s offensive communication and the offender’s right to access the website.

	<br><br>

	- Sending of personal contacts on the requests;<br>
	- Sending of personal contacts on the proposals;<br>
	- Sending of personal contacts on messages to the users;<br>
	- Sending of personal contacts on messages to the partners;<br>
	- To insult and/or to offend another user or partner through any communication mechanism of the website;

	<br><br>
	
	<b>4. Complaint policy for illegal content</b><br>
	UBEOS operates on the concept of "notice and withdraw”. Should you have any complaint or objection to materials or content (including messages of users sent by the website), or if you believe that the content posted violates copyrights held by you, please contact us immediately at our e-mail <a href="mailto:ubeos@ubeos.com">ubeos@ubeos.com</a>. After the warning, we will make every possible effort to remove the illegal content within an acceptable period of time.

	<br><br>

	<b>5. Privacy</b><br>
	We will make use of any personal information submitted by you on the website accordingly to our <a href="@{Application.privacyEN()}" >privacy policy</a>.
	
	<br><br>

	<b>6. Cancellation</b><br>
	By accepting a partner’s quotation, the cancellation policies in place will be the ones implemented by them at the time of acceptance of the proposal.
	
	<br><br>

	<b>7. Changes</b><br>
	UBEOS can add, remove or change these Terms and Conditions if necessary. This could be due to legal issues, regulators or technical reasons or even due to changes on the provided services or on the websites’ layout. UBEOS will send notifications concerning the changes to its users. After receiving the notification, you agree to follow these Terms and Conditions when using the website. Continuing to use the website after receiving UBEOS’ notifications indicates your acceptance to the changes.

	<br><br>

	<b>8. General Provisions</b> <br>
	To the extent permitted by law, this terms and conditions and the realization of our services shall be governed and
	built according to Portuguese law.
	The original version in Portuguese, of these terms and conditions, may have been translated into other languages.
	The translated versions are a courtesy and office translation only, which can not take any rights.
	In the event of a dispute over the content or interpretation of these terms and conditions or inconsistency
	discrepancy between the Portuguese version and any other language version of these terms and conditions,
	the Portuguese version shall prevail and be conclusive to the extent permitted by law.
	The Portuguese version is available on our website (by selecting the Portuguese language) or you will be sent,
	if you request in writing or via email.
	
	<br> 
	
	</div>
	
	<br><br>

	<div class="col-lg-3 col-md-3 col-padding">
		<input type="button" id="cancel" value="&{'application.terms.pt'}" class="btn btn-info btn-block" onclick="location.href='@{Application.termsPT()}'"/>
	</div>
	
	<div class="clear"></div>
	
</div>
</div>
</div>
</div>
</div>
</div>
