<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>UBEOS</title>
	<meta name="description" content="Under Maintenance">
	
	<link rel="stylesheet" type="text/css" href="@{'/public/fonts/oswald/oswald.css'}">

	<style type="text/css">
  
	body {
 		background-color: #3f4a59; 
		font-family: 'Open Sans', sans-serif;
		background-image: url("@{'/public/images/under_construction.png'}");
	}
	
	.wrapper {
		text-align: center;
		padding: 20px;
		margin-top: 15%;
	}
	
	h1 {
		font-family: 'Oswald', sans-serif;
		color: #25cad3;
		font-size: 48px;
		font-weight: 400;
		text-transform: uppercase;
	}
	
	h2 {
		color: #D8E3F2;
		font-weight: 700;
	}
	
	h4 {
		color: #8C97A6;
		font-weight: 700;
		text-transform: uppercase;
	}

	</style>

</head>

<body>

	<div class="wrapper">
		<h1>Under Maintenance</h1>
		<h2>We are making Ubeos EVEN more awesome!</h2>
		<h4>We'll be back very soon.</h4>
	</div>

</body>
</html>