<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>

<body style="background-color: #F2F2F2; font-family: Helvetica, Arial, sans-serif; font-size: 14px;">

	<div style="height: 20px;"></div>
	<div style="background-color: #FFFFFF; width: 600px; margin: 20px auto 20px auto;">
		
		<div style="padding:30px 30px 25px; background-color: #ffffff;">
			<a href="https://www.ubeos.com/"> <img width="74" height="24" src="https://gallery.mailchimp.com/a77c5064e4491630da18fd5a0/images/746af0a9-724a-45e7-a8e2-718e2f13368b.png"> </a>
			
			<div style="float: right;">
				<a href="https://www.facebook.com/ubeos"><img width="24" height="24" src="https://gallery.mailchimp.com/a77c5064e4491630da18fd5a0/images/9d8c80f5-aff9-413d-890b-24bc4dcc8fce.png" /></a>
	            <a href="https://twitter.com/ubeosdotcom"><img width="24" height="24" src="https://gallery.mailchimp.com/a77c5064e4491630da18fd5a0/images/70dd2804-94e8-483d-bf7a-11aac13236e9.png"/></a>
	            <a href="https://instagram.com/ubeos"><img width="24" height="24" src="https://gallery.mailchimp.com/a77c5064e4491630da18fd5a0/images/bbd471f3-8240-4146-9866-086dcecf8be7.png"/></a>
	            <a href="http://ubeos.tumblr.com/"><img width="24" height="24" src="https://gallery.mailchimp.com/a77c5064e4491630da18fd5a0/images/4bfe5bab-c1cb-40f8-9c00-8d5c680576e9.png"/></a>
            </div>
		</div>
		
		<div><img src="https://gallery.mailchimp.com/a77c5064e4491630da18fd5a0/images/51756d4e-7da0-40a2-b0e2-b8a478ab0a67.png" height="150" width="600"></div>
		<div style="padding: 30px;">
		 
			#{doLayout /}
		
		</div>
		<div style="padding: 30px; background-color: #3f4a59; color: #999999; font-size: 12px; text-align: center;">
			&{'mail.no.reply.warning'}
			<br><br>
			Copyright &#169; 2014 Ubeos, All rights reserved.
		</div>
	
	</div>
	<div style="height: 20px;"></div>
	
</body>

</html>