#{extends 'UbeosMailer/mailTemplate.html' /}
	
&{'mail.howdy'} ${user.firstName} ${user.lastName},
<br><br>
&{'mail.proposal.rejected.into1'} @@{Proposals.show(proposal.id)} &{'mail.proposal.rejected.into2'}
<br><br>
&{motive.name}
<br><br>

#{if printMessage}
	&{'mail.rejected.user.add.text'}
	"${message}"
#{/if}

<br><br>			
&{'mail.more.details.visit'} @@{Proposals.show(proposal.id)}
<br><br>
&{'mail.links.not.working'}
<br><br>			
&{'mail.question.partner.and.help'}
<br><br>			
&{'mail.thank.using.ubeos'}
<br>
UBEOS
